<!-- Nav tabs -->
<div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a asp-area="User" asp-controller="Home" asp-action="Index" class="nav-link active show">داشبورد</a></li>
        <li> <a asp-area="User" asp-controller="Account" asp-action="ChangePassword" class="nav-link">تغییر کلمه ی عبور</a></li>
        <li><a href="#" class="nav-link">دریافت ها</a></li>
        <li><a href="#" class="nav-link">آدرس ها</a></li>
        <li><a href="#" class="nav-link">جزئیات حساب</a></li>
        <li><a href="#" class="nav-link">خروج</a></li>
    </ul>
</div>