@model DemoShop.DataLayer.DTO.Orders.AddProductToOrderDTO

<form method="post"
      asp-area="User"
      asp-controller="Order"
      asp-action="AddProductToOrder"
      data-ajax="true"
      data-ajax-success="onSuccessAddProductToOrder"
      data-ajax-method="post"
      id="addProductToOrderForm">
    <input type="hidden" id="add_product_to_order_ProductId" asp-for="ProductId" />
    <input type="hidden" asp-for="ProductColorId" id="add_product_to_order_ProductColorId" />
    <input type="hidden" asp-for="Count" id="add_product_to_order_Count" />
</form>