<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>فروشگاه ساز | @ViewData["Title"]</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<partial name="_HeaderRefrences"/>
	@RenderSection("styles", false)

</head>

<body>

	@await Component.InvokeAsync("SiteHeader")
	
	@RenderBody()

	@await Component.InvokeAsync("SiteFooter")
	

	<partial name="_FooterRefrences" />
	@RenderSection("scripts", false)
	<partial name="_SiteMessages" />


</body>

</html>
