@model DemoShop.DataLayer.DTO.Paging.BasePaging


<ul class="pagination">
    @if (Model.StartPage < Model.PageId)
    {
        <li class="cursor-pointer"><a onclick="FillPageId(@(Model.PageId - 1))">«</a></li>
    }

    @for (int i = Model.StartPage; i <= Model.EndPage; i++)
    {
        <li class="@(Model.PageId == i ? "active":"") cursor-pointer"><a onclick="FillPageId(@i)">@i<span class="sr-only">(current)</span></a></li>
    }

    @if (Model.EndPage > Model.PageId)
    {
        <li class="cursor-pointer"><a onclick="FillPageId(@(Model.PageId + 1))">»</a></li>
    }
</ul>