@model DemoShop.DataLayer.DTO.Account.ChangePasswordDTO
@{
    ViewData["Title"] = "تغییر کلمه ی عبور";
}

@section scripts
    {
    <partial name="_JqueryValidators" />
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("UserSidebar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="account-details">
                            <h3>@ViewData["Title"] </h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-area="User" asp-controller="Account" asp-action="ChangePassword">
                                            <label>کلمه ی عبور فعلی</label>
                                            <input type="password" asp-for="CurrentPassword">
                                            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                                            <br />
                                            <label>کلمه ی عبور جدید</label>
                                            <input type="password" asp-for="NewPassword">
                                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                                            <br />
                                            <label>تکرار کلمه ی عبور جدید</label>
                                            <input type="password" asp-for="ConfirmNewPassword">
                                            <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>

                                            <div class="save_button primary_btn default_button">
                                                <button type="submit">ذخیره</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>