@model DemoShop.DataLayer.DTO.Contacts.AnswerTicketDTO


<form method="post" asp-area="User" asp-controller="Ticket" asp-action="AnswerTicket">
    <input type="hidden" asp-for="Id" />
    <textarea asp-for="Text" ckeditor="1"></textarea>
    <button type="submit" class="btn btn-info">
        ارسال پاسخ
    </button>
</form>