@model DemoShop.DataLayer.DTO.Account.RegisterUserDTO
@{
    ViewData["Title"] = "ثبت نام";
}

@section scripts
{
	<patial name="_JqueryValidators"/>
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumb_content">
					<ul>
						<li><a href="index.html">خانه</a></li>
						<li>ثبت نام </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="customer_login mt-60">
	<div class="container">
		<div class="row">
			<!--register area start-->
			<div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
				<div class="account_form register">
					<h2>ثبت نام</h2>
					<form asp-controller="Account" asp-action="Register">
						<p>
							<label>آدرس ایمیل <span>*</span></label>
							<input type="text" asp-for="Email">
							<span asp-validation-for="Email" class="text-danger"></span>
						</p>
						<p>
							<label>نام <span>*</span></label>
							<input type="text" asp-for="FirstName">
							<span asp-validation-for="FirstName" class="text-danger"></span>
						</p>
						<p>
							<label>نام خانوادگی <span>*</span></label>
							<input type="text" asp-for="LastName">
							<span asp-validation-for="LastName" class="text-danger"></span>
						</p>
						<p>
							<label>تلفن همراه <span>*</span></label>
							<input type="text" asp-for="Mobile">
							<span asp-validation-for="Mobile" class="text-danger"></span>
						</p>
						<p>
							<label>کلمه عبور <span>*</span></label>
							<input type="text" asp-for="Password">
							<span asp-validation-for="Password" class="text-danger"></span>
						</p>
						<p>
							<label>تکرار کلمه عبور <span>*</span></label>
							<input type="text" asp-for="ConfirmPassword">
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</p>
						<div class="login_submit">
							<button type="submit">ثبت نام</button>
						</div>
					</form>
				</div>
			</div>
			<!--register area end-->
		</div>
	</div>
</div>
<!-- customer login end -->
