@model DemoShop.DataLayer.DTO.Products.FilterProductDTO
@{
    ViewData["Title"] = "لیست محصولات";
}

@if (Model.Products != null && Model.Products.Any())
{
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>@product.Title</li>
        }
    </ul>
}

